{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<p>This is the profile page for {{ username }}</p>

<p>This is a list of all of this user's clothes items</p>
<!-- 3 Clothes Item per row -->
<div class="row">
    {% for clothes_item in clothes %}
    <div class="col-md-4">
        <div class="panel panel-default">
            <a href="/{{ clothes_item.id }}/">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ clothes_item.name }}</h3>
                </div>
            </a>

            <div class="panel-body">
                <a href="/{{clothes_item.id}}/">
                    <p>Here is a link to {{ clothes_item.name }}</p>
                    <img src="{{ clothes_item.image.url }}" >
                </a>
            </div>
        </div>
    </div>

    <!-- if last column in row -->
    {% if forloop.counter|divisibleby:"3" and not forloop.last %}
</div><br><div class="row">
    {% endif %}
    {% endfor %}
</div><br>

<p>This is a list of all clothes items favorited by this user</p>

<!-- 3 Clothes Item per row -->
<div class="row">
    {% for clothes_item in favorite_clothes %}
    <div class="col-md-4">
        <div class="panel panel-default">
            <a href="/{{ clothes_item.id }}/">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ clothes_item.name }}</h3>
                </div>
            </a>

            <div class="panel-body">
                <a href="/{{clothes_item.id}}/">
                    <p>Here is a link to {{ clothes_item.name }}</p>
                    <img src="{{ clothes_item.image.url }}" >
                </a>
            {% if clothes_item.id in favorite_clothes_ids %}
            <button data-id='{{clothes_item.id}}' type="button" class="favorite-button btn btn-mini btn-success">
                <span class="glyphicon glyphicon-heart glyphicon-left-align" aria-hidden="true"></span>
            </button>
            {% else %}
            <button data-id='{{clothes_item.id}}' type="button" class="favorite-button btn btn-mini btn-danger">
                <span class="glyphicon glyphicon-heart glyphicon-left-align" aria-hidden="true"></span>
            </button>
            {% endif %}
            </div>
        </div>
    </div>

    <!-- if last column in row -->
    {% if forloop.counter|divisibleby:"3" and not forloop.last %}
</div><br><div class="row">
    {% endif %}
    {% endfor %}
</div><br>

{% if user.is_authenticated and username == user.username %}

    <button data="Male" data-id="{{username}}" type="button" class="gender-button btn btn-lg btn-info">
        <span>Male</span>
    </button>

    <button data="Female" data-id="{{username}}" type="button" class="gender-button btn btn-lg btn-info">
        <span>Female</span>
    </button>

    <button data="Unisex" data-id="{{username}}" type="button" class="gender-button btn btn-lg btn-info">
        <span>Unisex</span>
    </button>

    <div id="male-form-holder" class="collapsed-panel panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Add Clothes</h3>
        </div>
        <div class="panel-body">
            <form enctype="multipart/form-data" action="post_url/" method="post">
                {% csrf_token %}
                <div class="field-wrapper">
                    {{male_form.as_p}}
                </div>
                <input type="submit" value="Submit"/>
            </form>
        </div>
    </div>

    <div id="female-form-holder" class="collapsed-panel panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Add Clothes</h3>
        </div>
        <div class="panel-body">
            <form enctype="multipart/form-data" action="post_url/" method="post">
                {% csrf_token %}
                <div class="field-wrapper">
                    {{female_form.as_p}}
                </div>
                <input type="submit" value="Submit"/>
            </form>
        </div>
    </div>

    <div id="unisex-form-holder" class="collapsed-panel panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Add Clothes</h3>
        </div>
        <div class="panel-body">
            <form enctype="multipart/form-data" action="post_url/" method="post">
                {% csrf_token %}
                <div class="field-wrapper">
                    {{unisex_form.as_p}}
                </div>
                <input type="submit" value="Submit"/>
            </form>
        </div>
    </div>

    {% if messages %}
        <div class="row">
            <div class="col-sm-4">
                <div class="messages text-center">
                {% for message in messages %}
                 <p{% if message.tags == "success" %} class="alert alert-success"{% endif %}>{{ message }} <span class="glyphicon glyphicon-ok"></span></p>
                {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}

{% endif %}

{% endblock %}
