{% extends 'base.html' %}
{% block title %}Feedback - {{ block.super }}{% endblock %}

{% block content %}

    <h1>Feedback</h1>
    <form role="form" action="" method="post">
        {% csrf_token %}
        {{ feedback_form.as_p }}
        <button type="submit">Submit</button>
    </form>

    {% if messages %}
    <div class="row">
        <div class="col-sm-4">
            <div class="messages text-center">
            {% for message in messages %}
             <p{% if message.tags == "success" %} class="alert alert-success"{% endif %}>{{ message }} <span class="glyphicon glyphicon-ok"></span></p>
            {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}

{% endblock %}